body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #bde2e7;
    
    text-align: center;
    padding: 30px;
}

h1 {
    color: rgb(55, 100, 85);
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #bbb;
}

.card h2 {
    color: #2f7f72;
}

.card p {
    color: #666;
    line-height: 1.5;
}